{% extends 'base.html' %} 
{% load static %}

{% block title %}
    <title>Accessories</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/accessories.css' %}">
{% endblock css %}
{% block body %}

<div class="container">
    {% for i in accessories_data %}
    <div class="accessory-item">
        <div class="left-div">
            <img src="{{ i.image.url }}" alt="Accessory Image" class="accessory-img" />
        </div>
        <div class="right-div">
            <h2>{{ i.name }}</h2>
            <p>{{ i.description }}</p>
            <div class="price-info">
                <span class="price">${{ i.price }}</span>
                <span class="orig-price"><strike>${{ i.orginalprice }}</strike></span>
            </div>
            {% if i.Newly_lanched %}
            <span class="new-launch">Newly Launched!</span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let items = document.querySelectorAll(".accessory-item");
        items.forEach(item => {
            item.addEventListener("mouseenter", function () {
                this.style.transform = "scale(1.02)";
                this.style.transition = "transform 0.3s ease";
            });
            item.addEventListener("mouseleave", function () {
                this.style.transform = "scale(1)";
            });
        });
    });
</script>
{% endblock body %}
