{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Mobiles</title>
{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/allmobiles.css' %}">
{% endblock css %}

{% block js %}
    <script src=""></script>
{% endblock js %}

{% block body %}
<div class="container">
  <div id="shop">
    <h1>Shop our mobiles</h1>
  </div>
    {% for i in alldata %}
    <a href="{% url 'myapp:mobiledata' i.id %}">
    <div class="mobile-item">
        <div class="left-div" id="mobile-image">
          <img src="{{ i.image.url }}" alt="Select a mobile" class="mobile-img" />
        </div>

      <div class="right-div" id="mobile-info">
        <h2>{{ i.name }}</h2>
        <div class="price-info">
          <span class="price">{{ i.price }}</span>
          <span class="orig-price"><strike>{{ i.origprice }}</strike></span>
        </div>
        <div id="keyfeatures">
          <h4>RAM: {{ i.ram }}</h4>
          <h4>ROM: {{ i.rom }}</h4>
        </div>
      </div>
    </div>
    </a>
    {% endfor %}
</div>
{% endblock body %}
