{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Selling Phones</title>
    <link rel="stylesheet" href="{% static 'css/bestselling.css' %}">
    <script src="{% static 'js/bestselling.js' %}"></script>
</head>
<body>
    <h1 id="best">Best Selling phones</h1>

    <div class="phone-container">
        <button class="arrow left" onclick="movePhones('left')">&#8592;</button>
        <div class="phone">
            {% for i in data %}
            <div class="inphone">
                <div class="phnimg">
                    <img src="{{i.image.url}}" alt="phone Image">
                </div>
                <div class="inphone1">
                    <h2>{{i.name}}</h2>
                    <span style="color: aquamarine; margin-top:2vw">{{i.price}}</span><span>
                    <strike class="discount" style="color: grey;" >{{i.origprice}}</strike></span>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="arrow right" onclick="movePhones('right')">&#8594;</button>
    </div>

</body>
</html>
