{% extends 'base.html' %} 

{% load static %} 

{% block title %}
<title>Brand_Laptops</title>
{% endblock title%} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/brand_mobiles.css' %}" />
{% endblock css %} 

<!-- {% block js %}
<script src="{% static 'js/mobiledata.js' %}"></script>
{% endblock js %}  -->

{% block body %}
<div id="main">
<h2>{{ lapbrand.name }} Laptops</h2>
    <div class="mobile-container">
        {% for lap in laptops %}
        <div class="mobile">
            <a href="{% url 'myapp:lapdata' lap.id %}">
                <img src="{{ lap.image.url }}" alt="{{ mobile.name }}">
                <div class="mobile-name">{{ lap.name }}</div>
            </a>
            <div class="price">₹{{ lap.price }} 
                {% if lap.origprice %}
                    <span class="old-price">₹{{ lap.origprice }}</span>
                {% endif %}
                {% if lap.discount %}
                    <span class="discount">{{ lap.discount }}% Off</span>
                {% endif %}
            </div>
            {% if lap.emi_price %}
                <div class="emi">EMI starts @ ₹{{ lap.emi_price }}</div>
            {% endif %}
            {% if lap.delivery_date %}
                <div class="delivery">📦 Delivery by {{ lap.delivery_date }}</div>
            {% endif %}
            <button class="cart-button" onclick="addToCart('{{ mobile.id }}')">🛒 Add to Cart</button>
        </div>
        {% empty %}
        <p>No laptops available for this brand.</p>
        {% endfor %}
    </div>
</div>
    <script>
        function addToCart(mobileId) {
            alert("Mobile " + mobileId + " added to cart!");
        }
        
    </script>
  
{% endblock body %}
