{% extends 'base.html' %} 

{% load static %} 

{% block title %}
<title>Brand_Mobiles</title>
{% endblock title%} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/brand_mobiles.css' %}" />
{% endblock css %} 

<!-- {% block js %}
<script src="{% static 'js/mobiledata.js' %}"></script>
{% endblock js %}  -->

{% block body %}
<div id="main">
<h2>{{ brand.name }} Phones</h2>
    <div class="mobile-container">
        {% for mobile in mobiles %}
        <div class="mobile">
            <a href="{% url 'myapp:mobiledata' mobile.id %}">
                <img src="{{ mobile.image.url }}" alt="{{ mobile.name }}">
                <div class="mobile-name">{{ mobile.name }}</div>
            </a>
            <div class="price">₹{{ mobile.price }} 
                {% if mobile.origprice %}
                    <span class="old-price">₹{{ mobile.origprice }}</span>
                {% endif %}
                {% if mobile.discount %}
                    <span class="discount">{{ mobile.discount }}% Off</span>
                {% endif %}
            </div>
            {% if mobile.emi_price %}
                <div class="emi">EMI starts @ ₹{{ mobile.emi_price }}</div>
            {% endif %}
            {% if mobile.delivery_date %}
                <div class="delivery">📦 Delivery by {{ mobile.delivery_date }}</div>
            {% endif %}
            <button class="cart-button" onclick="addToCart('{{ mobile.id }}')">🛒 Add to Cart</button>
        </div>
        {% empty %}
        <p>No mobiles available for this brand.</p>
        {% endfor %}
    </div>
</div>
    <script>
        function addToCart(mobileId) {
            alert("Mobile " + mobileId + " added to cart!");
        }
        
    </script>
  
{% endblock body %}