{% extends 'base.html' %} 

{% load static %} 

{% block title %}
<title>Brand_Mobiles</title>
{% endblock title%} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/brand_mobiles.css' %}" />
{% endblock css %} 

<!-- {% block js %}
<script src="{% static 'js/mobiledata.js' %}"></script>
{% endblock js %}  -->

{% block body %}
<div id="main">
<h2>{{ brand.name }} Laptops</h2>
    <div class="mobile-container">
        {% for lap in laptops %}
        <a href="{% url 'myapp:lapdata' lap.id %}">
        <div class="mobile">
                <img src="{{ lap.image.url }}" alt="{{ lap.name }}">
                <div class="mobile-name">{{ lap.name }}</div>
            <div class="price">₹{{ lap.price }} 
                {% if lap.origprice %}
                    <span class="old-price">₹{{ lap.origprice }}</span>
                {% endif %}
                {% if lap.discount %}
                    <span class="discount">{{ lap.discount }}% Off</span>
                {% endif %}
            </div>
            {% if lap.emi_price %}
                <div class="emi">EMI starts @ ₹{{ lap.emi_price }}</div>
            {% endif %}
            <button class="cart-button">
                <a href="{% url 'myapp:add_to_cart' category='mobile' item_id=lap.id %}"> 🛒 Add to Cart</a>
            </button>
        </div>
        {% empty %}
        <p>No laptops available for this brand.</p>
        </a>
        {% endfor %}
    </div>
</div>
  
{% endblock body %}