{% extends 'base.html' %} 

{% load static %} 

{% block title %}
<title>Brand_Mobiles</title>
{% endblock title%} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/brand_mobiles.css' %}" />
{% endblock css %} 

<!-- {% block js %}
<script src="{% static 'js/mobiledata.js' %}"></script>
{% endblock js %}  -->

{% block body %}
<div id="main">
<h2>{{ brand.name }} mobiles</h2>
    <div class="mobile-container">
        {% for mobile in mobiles %}
        <a href="{% url 'myapp:mobiledata' mobile.id %}">
        <div class="mobile">
                <img src="{{ mobile.image.url }}" alt="{{ mobile.name }}">
                <div class="mobile-name">{{ mobile.name }}</div>
            <div class="price">₹{{ mobile.price }} 
                {% if mobile.origprice %}
                    <span class="old-price">₹{{ mobile.origprice }}</span>
                {% endif %}
                {% if mobile.discount %}
                    <span class="discount">{{ mobile.discount }}% Off</span>
                {% endif %}
            </div>
            {% if mobile.emi_price %}
                <div class="emi">EMI starts @ ₹{{ mobile.emi_price }}</div>
            {% endif %}
            <button class="cart-button">
                <a href="{% url 'myapp:add_to_cart' category='mobile' item_id=mobile.id %}"> 🛒 Add to Cart</a>
            </button>
        </div>
        {% empty %}
        <p>No mobiles available for this brand.</p>
        </a>
        {% endfor %}
    </div>
</div>
  
{% endblock body %}