{% extends 'base.html' %}
{% load static %}  

{% block title %}
    <title>Shopping Cart</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock css %}

{% block body %}
    <div class="cart-container">
        <div id="shop">
            <h1>Your Shopping Cart</h1>
          </div>        
          {% if cart_items %}
            <div class="cart-items">
                {% for item in cart_items %}
                    <div class="cart-item">
                        <img src="{{ item.image }}" alt="{{ item.name }}" class="cart-img">
                        <div class="cart-info">
                            <h3>{{ item.name }}</h3>
                            <p class="price">₹{{ item.price }}</p>
                            <p>Quantity: {{ item.quantity }}</p>
                            <a href="{% url 'myapp:remove_from_cart' item.category item.item_id %}" class="remove-btn">Remove</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <form action="{% url 'myapp:checkout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="addtocart">Checkout</button>
            </form>
            
        {% else %}
        <img src="{% static 'images/cart.png' %}" alt="" id="empty-cartimg">
        <h4 class="empty-cart"><a href="{% url 'myapp:home' %}">Continue Shopping</a></4>
        {% endif %}
    </div>
{% endblock body %}
