{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/bestselling.css' %}">
{% endblock css %}

{% block js %}
    <script src="{% static 'js/bestselling.js' %}"></script>
{% endblock js %}

{% block body %}
    <h1 id="best">Best Selling mobiles</h1>

    <div class="phone-container">
        <button class="arrow left" onclick="movePhones('left')">&#8592;</button>
        <div class="phone">
            {% for i in data %}
            <a href="{% url 'myapp:mobiledata' i.id %}" style="text-decoration:none;">
            <div class="inphone">
                <div class="phnimg">
                    <img src="{{i.image.url}}" alt="phone Image">
                </div>
                <div class="inphone1">
                    <h3>{{i.name}}</h3>
                    <span style="color: aquamarine; margin-top:2vw">{{i.price}}</span><span>
                    <strike class="discount" style="color: grey;" >{{i.origprice}}</strike></span>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
        <button class="arrow right" onclick="movePhones('right')">&#8594;</button>
    </div>

{% endblock body %}

