*{
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
footer {
    background-color: rgba(0, 0, 0, 0.847);
    color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    margin-top: 4%;
}

.footer-container {
    border-top: 1px solid #444;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    margin: 5px;
    flex: 1;
    min-width: 300px;
    /* border-right: 1px solid grey; */
}

.footer-section h2 {
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin: 5px 0;
    font-size: 25px;
    /* letter-spacing: 1px; */
}

.footer-section ul li a {
    color: #f2f2f2;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: aquamarine;
}

.social-icons img {
    width: 30px;
    margin: 5px;
    transition: transform 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.1);
}

.footer-bottom {
    /* border-top: 1px solid #444; */
    margin-top: 10px;
    padding-top: 10px;
    font-size: 23px;
    /* letter-spacing: 1px; */
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    height: 80px;
    font-size: 25px;
  }

  .header .logo {
    /* font-size: 1.5rem; */
    font-style: italic;
  }

  .header .delivery-time {
      /* font-size: 30px; */
    margin-right: 5%;
  }

  .header .search-bar {
    flex: 1;
    margin: 0 20px;
  }

  .header .search-bar input {
    width: 90%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .header .icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10%;
  }

  .header .icons img,
  .header .icons span {
    cursor: pointer;
  }

  /* .header .login {
    font-size: 0.9rem;
  } */

  /* Category Bar Styles */
  .category-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a9a9a;
    padding: 10px 0;
  }

  .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .category-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ddd;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .category-item span {
    font-size: 14px;
    font-weight: bold;
  }

  .category-item:hover span {
    color: black; /* Highlight color on hover */
  }
